.link {
    color: #4b4949;
    font-weight: bold;
    text-decoration: none;
    background-color: #e9f0ef;
    border: 2px solid #666666;
    border-radius: 5px;
    padding: 0 5px 5px 5px;
    margin-left: 10px;
}
.link:hover {
    background-color: #fff;
}